body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
}
.container {
    background-color: #ff00a2;
    padding: 30px 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: aqua;
}
.form-group {
    margin-bottom: 20px;
    position: relative;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: aqua;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #dddddd3e;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color:green;
}
.form-group input[type="radio"] {
    width: auto;
    padding: 0;
    margin: 0 5px 0 0;
}
.form-group .gender-group {
    display: flex;
    align-items: center;
}
.form-group .gender-group label {
    margin-right: 15px;
    font-weight: normal;
    color:aqua;
}
.form-group button:hover {
    background-color: #0056b3;
}
.form-group .icon {
    position: absolute;
    left: 10px;
    top: 35px;
    color: #aaa;
    font-size: 18px;
}
.form-group input[type="date"] {
    padding: 10px 10px 10px 40px;
}

.btn {
    padding: 12px 170px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}